@font-face {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    src: url(/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    src: url(/fonts/IBMPlexMono-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 1024px;
  }

:root {
    --font-family: "IBM Plex Mono", serif;
    --purple: #db00ff;
    --pink: #FF0070;
  }

.background {
    background: url("/img/cover-image-dark.png");
    width: 1024px;
    height: 768px;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.navigation button {
    display: flex;
    color: var(--pink);
    font-family: var(--font-family);
    font-size: 18px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 5px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px, solid, transparent;
    height: 24px;
    text-decoration: none;
}

.navigation button:hover {
    border: 1px, solid, var(--purple);
}

.title {
    position: absolute;
    top: 50%;
    font-family: var(--font-family);
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-weight: 700;
    font-size: 157px;
    line-height: 83%;
    color: var(--purple);
    text-shadow: 4px 4px var(--pink);
    transform: translateY(-50%);
}

.paragraph {
    position: absolute;
    bottom: 135px;
    right: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    width: 491px;
    height: 70px;    ;
}

.paragraph p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    background: var(--pink);
    margin: 0;
    padding: 0;
}

.lamp-text {
    position: absolute;
    width: 33px;
    height: 26px;
    left: 943px;
    top: 20px;
    margin: 0px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FF0070;
}

.lamp-b {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 28px;
    left: 986px;
    background: #FF0070;
    border-radius: 100%;
    box-shadow: 0 0 4px 2px #ff0070;
}

.rectangle-bottom {
    position: absolute ;
    top: 723px;
    left: 20px;
    margin: 0px;
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #FF0070;
}

.rectangle-top{
    position:absolute;
    top: 20px;
    left: 979px;
    margin: 0px;
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-width: 1px 1px 0px 0px ;
    border-style: solid;
    border-color: #FF0070;

}

.background-main {
    width: 1024px;
    height: 3352px;
    top: 828px;
    gap: 0px;
    opacity: 0px;

    background: #000028;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    
    position: absolute;
    width: 1024px;
    height: 508px;
    left: 0px;
    top: 828px;
}

.title-first {
    position: absolute;
    width: 314.96px;
    height: 47px;
    left: 20px;
    top: 0px;

    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FF0070;
}

.header-text {
    position: absolute;
    width: 648.92px;
    height: 23px;
    right: 20.19px;
    top: 0px;
    
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background-color: #FF0070;
    
    color: #000028;
}

.p-text {
    position: absolute;
    width: 648.92px;
    height: 211px;
    right: 20.19px;
    top: 33px;

    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #F1B2CE;
}

a {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-shadow: 2px 2px  #FF0070;
    color: #F1B2CE;
    text-decoration: none;

    color: #F1B2CE;
}

a:hover {
    color: #F1B2CE;
    background-color: #2196f3;
}

.h2-text {
    position: absolute;
    width: 648.92px;
    height: 23px;
    left: 355.08px;
    top: 264px;
    
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background-color: #FF0070;
    
    color: #000028;
}

.p2-text {
    position: absolute;
    width: 648.92px;
    height: 211px;
    left: 355.08px;
    top: 297px;

    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #F1B2CE;
}

